#report_pane tr {
    border-collapse: collapse;   
}
#report_pane tr {
    background-color: #F9F8F8;
    border-top: 1px solid #eee;
}
#report_pane tr:hover {
    background-color: #bbb;
}

#report_pane td:hover {
    cursor: pointer;
}

#default_report_controls tr {
    border-collapse: collapse;   
}
#default_report_controls tr {
    background-color: #F9F8F8;
    border-top: 1px solid #eee;
}
#default_report_controls tr:hover {
    background-color: #bbb;
}

#default_report_controls td:hover {
    cursor: pointer;
}





.spinner {
	margin:0px 0px 0px 0px;
	position:fixed;
	height: 100%;
	z-index:9999;
	padding-top:200px;
	padding-left:450px;
	width:100%;
	clear:none;
	background: {{ STATIC_URL }}transbg.png
}


.status_background {
    height: 150px;
    width: 170px;
    position: absolute;
    left: 350px;
    top: 5px;
    background-color: #c00;


}

.small_status_icon {
    width: 15px;
    height: 15px;
    float: left;
}
.small_status_icon_red {
    background:url("../img/status_icons_sprite.png") no-repeat -15px -25px;
}
.small_status_icon_green {
    background:url("../img/status_icons_sprite.png") no-repeat 1px -26px;
}
.small_status_icon_yellow {
    background:url("../img/status_icons_sprite.png") no-repeat -30px -25px;
}

.status_icon {
            background: url("../img/chart_overlay.png") no-repeat;
            background-position:center;
            height: 150px;
            width: 170px;
            position: absolute;
            left: 450px;
            top: 5px;
            z-index: 1;
            opacity: 1;
}


/* box for "errors" on the custom 500 error page */
.dash {
    background-color: #F9F8F8;
    background-size: 50% auto;
    border: 1px solid #D7D7D7;
    border-radius: 3px 3px 3px 3px;
    margin-bottom: 10px;
    margin-right: 550px;
    width: 600px;
    padding: 10px 10px 0 15px;
    position: relative;
    h1, h2, h3 {
        margin-top: 3px;
    }
    h1, h2, h3, h4, h5 {
      font-weight: normal;
    }
    h2 {
      font-size: 145%;
    }
    hr {
      height: 1px;
      border: 0;
      background: #c7c7c7;

    }
    .dashhead {
        position: relative;
    }

    #dashboard_subscriptions {
      color: #939292;
      height: 153px;
            
 
    }    

}

ul, li {list-style-type: none;}

.show-detail-button {
    float: right;
}

.filter-button {
    float: left;
}

        
#outer-wrapper {
    background: #E6E6E6;
}
#navPrimary {
    clear: both;
}

#form_error {
    color: red;
}
li.disabled {
    opacity: 0.35;
}
div.datatables_sort_wrapper {
    position: relative;
    padding-right: 14px;
    text-align: center;
}
div.datatables_sort_wrapper span {
    margin-top: -8px;
    position: absolute;
    right: 0;
    top: 50%;
}
table.dataTable td {
    text-align: center;
}
tr.highlighted {
    background-color: #A1ACB2 !important;
    color: #FFFFFF;
}
.dataTables_wrapper {
    min-height: 0px !important; 
}
  

/* ----------- Filter Form ----------- */
.report_form{
margin:0 auto;
width:800px;
padding-bottom:20px;
}

/* ----------- stylized_form ----------- */


#stylized_form{
border:solid 2px #b7ddf2;
background:#E6E6E6;
padding:10px;


}
#stylized_form h1 {
font-size:14px;
font-weight:bold;
margin-bottom:8px;
}
#stylized_form p{
font-size:20px;
color:#666666;
margin-bottom:20px;
border-bottom:solid 1px #b7ddf2;
padding-bottom:10px;
}
#stylized_form label{
display:block;
font-weight:bold;
text-align:left;
width:240px;
float:left;
margin-left:8px;
}
#stylized_form .small{
color:#666666;
display:block;
font-size:11px;
font-weight:normal;
text-align:left;
width:240px;
}

#stylized_form select{

font-size:12px;
padding:4px 2px;
border:solid 1px #aacfe4;
width:200px;
margin:2px 0 20px 10px;
}




#stylized_form button{
clear:both;
margin-left:150px;
width:125px;
height:31px;
text-align:center;
line-height:31px;
font-size:16px;

}

.startDate {
float:none;
font-size:12px;
padding:4px 2px;
border:solid 1px #aacfe4;
width:200px;
margin:2px 0 20px 10px;
}

.endDate {
float:none;
font-size:12px;
padding:4px 2px;
border:solid 1px #aacfe4;
width:200px;
margin:2px 0 20px 10px;
}
