table#basic_report {
    border-collapse: collapse;   
}
#basic_report tr {
    background-color: #eee;
    border-top: 1px solid #eee;
}
#basic_report tr:hover {
    background-color: #ccc;
}
#basic_report th {
    background-color: #eee;
}
#basic_report th, #basic_report td {
    padding: 3px 5px;
}
#basic_report td:hover {
    cursor: pointer;
}


table#factCompliance_data {
    border-collapse: collapse;   
}
#factCompliance_data tr {
    background-color: #eee;
    border-top: 1px solid #eee;
}
#factCompliance_data tr:hover {
    background-color: #ccc;
}
#factCompliance_data th {
    background-color: #eee;
}
#factCompliance_data th, #factCompliance_data td {
    padding: 3px 5px;
}
#factCompliance_data td:hover {
    cursor: pointer;
}



#max_data tr:hover {
    background-color: #ccc;
}

#basic_report td:hover {
    cursor: pointer;
}


.spinner {
	margin:0px 0px 0px 0px;
	position:fixed;
	height: 100%;
	z-index:9999;
	padding-top:200px;
	padding-left:450px;
	width:100%;
	clear:none;
	background: {{ STATIC_URL }}transbg.png
}


.status_background {
    height: 150px;
    width: 170px;
    position: absolute;
    left: 350px;
    top: 5px;
    background-color: #c00;


}

.status_icon {
            background: url("../chart_overlay.png") no-repeat;
            height: 150px;
            width: 170px;
            position: absolute;
            left: 450px;
            top: 5px;
            z-index: 1;
            opacity: 1;
}


/* box for "errors" on the custom 500 error page */
.dash {
    background-color: #F9F8F8;
    background-image: linear-gradient(#F7F7F7, #EEEEEE);
    background-size: 50% auto;
    border: 1px solid #D7D7D7;
    border-radius: 3px 3px 3px 3px;
    margin-bottom: 10px;
    margin-right: 550px;
    padding: 10px 10px 0 15px;
    position: relative;
    h1, h2, h3 {
        margin-top: 3px;
    }
    h1, h2, h3, h4, h5 {
      font-weight: normal;
    }
    h2 {
      font-size: 145%;
    }
    hr {
      height: 1px;
      border: 0;
      background: #c7c7c7;

    }
    .dashhead {
        position: relative;
    }

    #dashboard_subscriptions {
      color: #939292;
      height: 153px;
            
 
    }    

}

ul, li {list-style-type: none;}