*.pyc
*.project
*.pydevproject
*.settings
src/config
config
src/debug/*
*debug_logs
*.swp
src/sreport/test
etc/splice/report.json
selinux/*.pp.targetted
*.idea
src/report_server/report_server.wpr
src/report_server/report_server.wpu
/home/whayutin/workspace/report_server/src/report_server/dev/perf/pu
playpen/api/curl_log

