<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
    <link href="https://access.redhat.com/chrome_themes/umbra/s/global.css?version=1.6.5.2" media="screen, print" type="text/css" rel="stylesheet">
    <link href="https://access.redhat.com/chrome_themes/umbra/s/print.css?version=1.6.5.2" media="print" type="text/css" rel="stylesheet">
    <link href="https://access.redhat.com/webassets/avalon/s/jquery-ui/cp/jquery-ui-1.8.7.custom.css?version=1.6.5.2" media="screen, print" type="text/css" rel="stylesheet">


    <script src="/static/jquery.min.js"></script>
    <script src="/static/jquery-ui.min.js"></script>
    <script src="/static/jquery-csrf.js"></script>
    <script src="http://datatables.net/download/build/jquery.dataTables.min.js"></script>
    
    <script>
        $(function() {
                var username = $( "#username" ),
                    password = $( "#password" ),
                    allFields = $( [] ).add( username ).add( password );

                $( "#login-form" ).dialog({
                    autoOpen: false,
                    height: 300,
                    width: 350,
                    modal: true,
                    buttons: {
                        "Login": function() {

                            var data = {
                                 "username": username.val(),
                                 "password": password.val()
                            };

                            var jqxhr = $.ajax({
                                url: "/ui/login",
                                type: "POST",
                                contentType: "application/json",
                                data: data,
                                dataType: "html",
                            })

                            jqxhr.error(function(jqxhr, textStatus, errorThrown) {
                                $("#relogin").addClass("ui-helper-hidden");
                                if ( jqxhr.status == "403" ) {
                                    $("#login-error").removeClass("ui-helper-hidden");
                                }
                            });

                            jqxhr.complete(function(jqxhr, textStatus){  
                                if ( textStatus == "success" ) {
                                    $(this).dialog("close");
                                    window.location="rhic"
                                }
                            });
                       },
                        Cancel: function() {
                            $( this ).dialog( "close" );
                            $("#login-error").addClass("ui-helper-hidden");
                            $("#relogin").addClass("ui-helper-hidden");
                        }
                    },
                    close: function() {
                        allFields.val( "" ).removeClass( "ui-state-error" );
                    }
                });

                function login(relogin) {
                    $("#login-form").dialog( "open" );

                    if ( relogin ) {
                        $("#relogin").removeClass("ui-helper-hidden");
                    }
                }

                $.ajaxSetup({
                    "error": function() {
                        login(true);
                    },
                });

                // Login button click action.
                $( "#login-button" )
                    .button()
                    .click(function() {
                        login();
                });

                // Logout button click action.
                $( "#logout-button" )
                    .button()
                    .click(function() {
                        var jqxhr = $.ajax({
                            url: "/ui/logout",
                            type: "POST",
                            contentType: "application/json",
                        })

                        $("#logout-button").attr("disabled", true)

                        jqxhr.complete(function(){  
                            window.location = "logout"
                        });
                });

                // Disable Logout button if the user is not logged in.
                {% if user.is_authenticated %}
                    $("#logout-button").removeAttr("disabled")
                {% else %}
                    $("#logout-button").attr("disabled", true)
                    $("#logout-button").css("opacity", "0.35")
                {% endif %}

                {% block scripts %}
                {% endblock %}

            });
    </script>
    
    
    
    <title>{% block title %}{% endblock %}</title>

</head>
<body>
<div id="outer-wrapper" class="wrapo">
<div id="wrapper" class="wrapo">
<div id="header-wrap" class="wrapi">
<div id="header">

<div id="brand">
<a id="rhLogo" href="http://www.redhat.com/" title="Go to redhat.com">
<img src="https://access.redhat.com/chrome_themes/umbra/g/logo_redhat.png" alt="Red Hat logo">
</a>
</div>

        <div id="utility">
        <div id="utility-links">
            <div id="account-links" class="account-links" style="display:block">
                <span style="color: #FFFFFF;">
                
                </span>
            </div>
        </div>
        </div>

</div>
</div>


<div id="main-wrap" class="wrapu">
    <div class="wrapi">
        <div id="container" class="clearWrap">
            <div id="content" class="c-mF">
                <div id="main">
                    <div id="appsTabBox">
                        <div class="clearBoxXtraWide">
                            <div class="clearBoxInnerXtraWide">
                                <div class="clearBoxBody">
                                    <h1>Red Hat Usage Reporting</h1>
                                        <div class="contentIndent">
                                            <div id="tabs" class="ui-tabs ui-widget ui-widget-content ui-corner-all">
                                                <ul class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">
                                                    <li class="ui-state-default ui-corner-top ui-tabs-selected ui-state-active">
                                                       
                                                    </li>
                                                </ul>

</body>

</html>