<html>
	<head></head>
	<body>
		<h1>Report Server 3.0</h1>
		<script type="text/x-handlebars" data-template-name="application">
			{{outlet}}
		</script>

		<script type="text/x-handlebars" data-template-name="foo-template">
		</script>

		<script src="{{ STATIC_URL }}/jquery.min.js"></script>
		<script src="{{ STATIC_URL }}/ui30_resources/handlebars-1.0.rc.1.js"></script>
		<script src="{{ STATIC_URL }}/ui30_resources/ember.min.js"></script>
		<script src="{{ STATIC_URL }}/ui30_resources/app.js"></script>
	</body>
</html>