{% comment %}
#
# Copyright © 2012 Red Hat, Inc.
#
# This software is licensed to you under the GNU General Public
# License as published by the Free Software Foundation; either version
# 2 of the License (GPLv2) or (at your option) any later version.
# There is NO WARRANTY for this software, express or implied,
# including the implied warranties of MERCHANTABILITY,
# NON-INFRINGEMENT, or FITNESS FOR A PARTICULAR PURPOSE. You should
# have received a copy of GPLv2 along with this software; if not, see
# http://www.gnu.org/licenses/old-licenses/gpl-2.0.txt.
{% endcomment %}
<html>
    <head>
        
        <link href="{{ STATIC_URL }}css/access_redhat_css" type="text/css" rel="stylesheet"/>
        <link href="{{ STATIC_URL }}css/access_redhat_global" type="text/css" rel="stylesheet"/>
        <link href="{{ STATIC_URL }}css/jquery.jqplot.css" type="text/css" rel="stylesheet"/>
        <link href="{{ STATIC_URL }}css/chosen.css" type="text/css" rel="stylesheet"/>
        <link href="{{ STATIC_URL }}css/report.css" type="text/css" rel="stylesheet"/>
        <link href="{{ STATIC_URL }}css/backgrid.css" type="text/css" rel="stylesheet"/>
        <link href="{{ STATIC_URL }}css/backgrid-paginator.css" type="text/css" rel="stylesheet"/>
        <link href="{{ STATIC_URL }}css/backgrid-filter.css" type="text/css" rel="stylesheet"/>
        <link href="{{ STATIC_URL }}css/backgrid-select-all.css" type="text/css" rel="stylesheet"/>
        <script src="{{ STATIC_URL }}lib/jquery.min.js"></script>
        <script src="{{ STATIC_URL }}lib/jquery-ui.min.js"></script>
        <script src="{{ STATIC_URL }}lib/jquery-csrf.js"></script>
        <script src="{{ STATIC_URL }}lib/jquery.jqplot.js"></script>
        <script src="{{ STATIC_URL }}lib/jqplot.highlighter.js"></script>
        <script src="{{ STATIC_URL }}lib/jqplot.cursor.js"></script>
        <script src="{{ STATIC_URL }}lib/chosen.jquery.js"></script>
        <script src="{{ STATIC_URL }}lib/date.js"></script>
        <script src="{{ STATIC_URL }}lib/underscore.js"></script>
        <script src="{{ STATIC_URL }}lib/backbone.js"></script>
        <script src="{{ STATIC_URL }}lib/backbone-pageable.js"></script>
        <script src="{{ STATIC_URL }}lib/lunr.js"></script>
        <script src="{{ STATIC_URL }}lib/backgrid.js"></script>
        <script src="{{ STATIC_URL }}lib/backgrid-filter.js"></script>
        <script src="{{ STATIC_URL }}lib/backgrid-select-all.js"></script>
        <script src="{{ STATIC_URL }}lib/backgrid-paginator.js"></script>
        <script src="{{ STATIC_URL }}lib/jquery.flot.js"></script>
        <script src="{{ STATIC_URL }}lib/jquery.flot.pie.js"></script>

        <script src="{{ STATIC_URL }}report-navigation.js"></script>
        <script src="{{ STATIC_URL }}spacewalk/report-space.js"></script>
        <script src="{{ STATIC_URL }}spacewalk/report-space-filter.js"></script>
        <script src="{{ STATIC_URL }}spacewalk/report-space-export.js"></script>


        

    </head>
    <body>
	    <div id="outer-wrapper" class="wrapo">
	        <div id="wrapper" class="wrapo">
            	<div id="header-wrap" class="wrapi">
                	<div id="header">
                	<div id="spinner" class="spinner" style="display:none;">
                	    <img id="img-spinner" src="{{ STATIC_URL }}/img/ajax-loader.gif" alt="Loading"/>
                	</div>

                    	<div id="brand">
                    		<a id="rhLogo" href="http://www.redhat.com/" title="Go to redhat.com">
                	    		<img src="{{ STATIC_URL }}/img/logo_redhat.png" alt="Red Hat logo">
                    		</a>
                    	</div>

                        <div id="utility">
                        	<div id="utility-links">
        		                <div id="account-links" class="account-links" style="display:block">
                        			<span style="color: #FFFFFF;">
                                  		<div id="account" style="padding: 4 2;">
                                            <div id="login_panel">
                                                <div id="login-pre">
                                                    <!-- <a id="loginhtml_a" href="#"  title="login" onmousedown="activateLogin()">LOG IN</a> -->
                                                    <a id="loginhtml_a" href="#"  title="login">LOG IN</a>
                                                </div>
                                                <div id="login-active" style="margin-top: -42px;">
                                                    <div class="loginForm">
                                                        <span>
                                                            <a id="close-login" onmousedown="deactivateLogin()" title="Close login window">X</a>
                                                        </span>
                                                        <p class="loginP">LOG IN</p>
                                                        
                                                        <div id="loginForm">
                                                        <!-- <form id="loginForm_new" method="post" action="#"> -->
                                                        
                                                            <div>
                                                                <input type="text" class="search-field" id="login_username" value="User name">
                                                                <input type="password" class="search-field" id="login_password" value="Password: ">
                                                            </div>
                                                            <!-- 
                                                            <p class="first">     
                                                                <a class="arrow" href="#" target="_blank" title="">Register</a>
                                                            </p>
                                                            -->
                                                            <div id="forgotOrSubmitParent">
                                                                <!--
                                                                <div id="forgotPasswdWrapper">                                          
                                                                    <a class="arrow" href="#" target="_blank" title="">Forgot password?</a>
                                                                </div>
                                                                -->
                                                                <div id="submitBtnWrapper">  
                                                                    <!-- 
                                                                    <input type="submit" name="login-submit" value="SUBMIT" onclick="submitLogin()">
                                                                    -->
                                                                    <div id="loginSubmitLink">SUBMIT</div>
                                                                </div>
                                                            </div>                   
                                                        <!-- </form> -->
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            {% comment %}
                			                <!-- Login Button -->
                                            <button id="login-button" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only">
                                                <span class='ui-button-text'>Log In</span>
                                            </button>
                                            <!-- Logout Button  REMOVE ME -->
                                            <button id="logout-button" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only">
                                                <span class='ui-button-text'>Logout</span>
                                            </button>
                                            {% endcomment %}

                                            {% comment %}
                                            {% if user.is_authenticated %}
                                            <button id="account-button" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only">
                                                <span id="account-button-span" class='ui-button-text'>Account: {{ user.username }}</span>
                                            </button>
                                            {% endif %}
                                            {% endcomment %}


                                        </div>

                                        <p>
                            		    {% if user.is_authenticated %}
                                            
                                            <script type='text/javascript'>
                                                first_logged_in = true;

                                            </script>
                                            {% if user.is_staff and user.is_superuser %}
                                                <script type='text/javascript'>
                                                    is_admin = true;
                                                    turnOnAdminFeatures();
                                                </script>
                                            {% endif %}
		                                {% else %}
                        		            
                                            <script type='text/javascript'>
                                                first_logged_in = false;
                                            </script>
		                                {% endif %}
                                        </p>
                	            	</span>
                       			</div>
                        	</div>
                        </div>
                        <div id='navWrap' class='clearWrap'>
                            <div id='navPrimary'>
                                <ul>
                                    <!--
                                        Create a much more generic way of attaching and
                                        exercising onclick events.
                                    -->
                                    <li id='create_button' class='active'><a href="#">Create Report</a></li>
                                    <li id='report_button'><a href='#'>View Report</a></li>
                                    <li id='detail_button'><a href='#'>System Detail</a></li>
                                    <li id='import_button'><a href="#">Administer</a></li>
                                    
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div id='main-wrap' class='wrapu'>
                    <div id='main-top'></div>
                    <div class='wrapi'>
                        <div id='container' class='clearWrap'>
                        	<a id="filter_toggle" style="float: right"  href="javascript:toggle_report_form();">Show Filter Options</a>
                        	<div id='default_report_controls'>
                             
                                
                              </button>
                            </div>
                            

                            <div id='report_pane'>

                            </div>
                            <div id='detail_pane'>
                                <div id='details'>
                                    <table style="width: 100%; margin-bottom: 0;">
                                    </table>
                                </div>
                                <div id='instance_details'>
                                </div>
                            </div>
                            
                            <div id='import_pane'>
                                 
                                 <div id='admin_report'> </div>
                           </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Login Form -->
        <div id="login-form" title="Login">
            <form>{% csrf_token %}
                <fieldset>
                    <label for="username">Username</label><br>
                    <input type="text" name="username" id="username" class="text ui-widget-content ui-corner-all" /><br>
                    <label for="password">Password</label><br>
                    <input type="password" name="password" id="password" class="text ui-widget-content ui-corner-all" />
                </fieldset>
            </form>
            <div id="login-error" class="ui-state-error">
                <div class="ui-state-error-text">
                    <p>Invalid Username or Password.</p>
                    <p>Please try again.</p>
                </div>
            </div>
            <div id="relogin" class="ui-helper-hidden">
                <p>Your session has expired, you must relogin.</p>
            </div>
        </div>
    </body>

        <!-- *** BACKBONE TEMPLATES *** -->

        <!-- Filter Template -->
        <script id='template-filter' type='text/template'>
          <ul>
            <% for (var i = 0; i < list.length; i++) { %>
              <% var f = list[i]; %>
              <li>
                 Filter Name: <%= f.attributes.filter_name %> ID: <%= f.attributes.null %>
              </li>
            <% } %>
          </ul>
        </script>

        <!-- Create Filter Form -->
        <script id='create-filter-form' type='text/template'>

            <h2> Report Filters:</h2>
            <div id="stylized_form" class="filter_form">
              <form id='report_form'>
               <p> Create or edit custom filters here</p>

                <label>Month:
                <span class="small">Pick a month</span>
                </label>
                <select name="by_month" id="by_month" class='chosen' /> <br><br>

                <label>Start Date:
                <span class="small">Pick a start date range</span>
                </label> 
                <input type="text" id="start_date" name="start_date" style="float:left" /><br><br><br>

                <label>End Date:
                <span class="small">Pick an end date range</span>
                </label>
                <input type="text" id="end_date" name="end_date" style="float:left" /><br><br><br><br>

                <label>Status:
                <span class="small">Choose a status</span>
                </label>
                <select id="status" name="status" class='chosen' /><br><br>

                <label>Satellite Server:
                <span class="small">Choose a Satellite Server</span>
                </label>
                <select id='environment' name="environment" class='chosen' /> <br><br> 

                <label>Satellite Organization:
                <span class="small">Choose a Satellite Organization</span>
                </label>
                <select id='organization' name="organization" class='chosen' /> <br><br> 

                <label>System Hostname:
                <span class="small">Choose a Satellite system hostname</span>
                </label>
                <select id='sys_host' name="sys_host" class='chosen' /><br><br>

                <label>System ID:
                <span class="small">Choose a Satellite system ID</span>
                </label>
                <select id='sys_id' name="sys_id" class='chosen' /><br><br>

                <label>Filter Name:
                <span class="small">Give this filter a name</span>
                </label>
                <input type="text" name="filter_name" id="filter_name" /><br><br>

                <label>Filter Description:
                <span class="small">Provide a description for the filter</span>
                </label>
                <input type="text" name="filter_description" id="filter_description" /><br><br>

                <input type="hidden" id="id" name="id">

                <br><br>
                <button type='submit' value='Save Filter' class='ui-button-text' onclick='filterSave(event)'>
                <span class='ui-button-text'>Save Filter</span>
                </button>
                
              </form>
              </div>
            
        </script>

</html>