{% comment %}
#
# Copyright © 2012 Red Hat, Inc.
#
# This software is licensed to you under the GNU General Public
# License as published by the Free Software Foundation; either version
# 2 of the License (GPLv2) or (at your option) any later version.
# There is NO WARRANTY for this software, express or implied,
# including the implied warranties of MERCHANTABILITY,
# NON-INFRINGEMENT, or FITNESS FOR A PARTICULAR PURPOSE. You should
# have received a copy of GPLv2 along with this software; if not, see
# http://www.gnu.org/licenses/old-licenses/gpl-2.0.txt.
{% endcomment %}
<html>
    <head>
        
        <link href="{{ STATIC_URL }}css/access_redhat_css" type="text/css" rel="stylesheet"/>
        <link href="{{ STATIC_URL }}css/access_redhat_global" type="text/css" rel="stylesheet"/>
        <link href="{{ STATIC_URL }}css/jquery.jqplot.css" type="text/css" rel="stylesheet"/>
        <link href="{{ STATIC_URL }}css/chosen.css" type="text/css" rel="stylesheet"/>
        <link href="{{ STATIC_URL }}css/report.css" type="text/css" rel="stylesheet"/>
        <link href="{{ STATIC_URL }}css/backgrid.css" type="text/css" rel="stylesheet"/>
        <link href="{{ STATIC_URL }}css/backgrid-paginator.css" type="text/css" rel="stylesheet"/>
        <link href="{{ STATIC_URL }}css/backgrid-filter.css" type="text/css" rel="stylesheet"/>
        <link href="{{ STATIC_URL }}css/backgrid-select-all.css" type="text/css" rel="stylesheet"/>
        <script src="{{ STATIC_URL }}lib/jquery.min.js"></script>
        <script src="{{ STATIC_URL }}lib/jquery-ui.min.js"></script>
        <script src="{{ STATIC_URL }}lib/jquery-csrf.js"></script>
        <script src="{{ STATIC_URL }}lib/jquery.jqplot.js"></script>
        <script src="{{ STATIC_URL }}lib/jqplot.highlighter.js"></script>
        <script src="{{ STATIC_URL }}lib/jqplot.cursor.js"></script>
        <script src="{{ STATIC_URL }}lib/chosen.jquery.js"></script>
        <script src="{{ STATIC_URL }}lib/date.js"></script>
        <script src="{{ STATIC_URL }}lib/underscore.js"></script>
        <script src="{{ STATIC_URL }}lib/backbone.js"></script>
        <script src="{{ STATIC_URL }}lib/backbone-pageable.js"></script>
        <script src="{{ STATIC_URL }}lib/lunr.js"></script>
        <script src="{{ STATIC_URL }}lib/backgrid.js"></script>
        <script src="{{ STATIC_URL }}lib/backgrid-filter.js"></script>
        <script src="{{ STATIC_URL }}lib/backgrid-select-all.js"></script>
        <script src="{{ STATIC_URL }}lib/backgrid-paginator.js"></script>
        <script src="{{ STATIC_URL }}lib/jquery.flot.js"></script>
        <script src="{{ STATIC_URL }}lib/jquery.flot.pie.js"></script>

        <script src="{{ STATIC_URL }}report-navigation.js"></script>
        <script src="{{ STATIC_URL }}report-space.js"></script>
        <script src="{{ STATIC_URL }}report-space-export.js"></script>


        

    </head>
    <body>
	    <div id="outer-wrapper" class="wrapo">
	        <div id="wrapper" class="wrapo">
            	<div id="header-wrap" class="wrapi">
                	<div id="header">
                	<div id="spinner" class="spinner" style="display:none;">
                	    <img id="img-spinner" src="{{ STATIC_URL }}/img/ajax-loader.gif" alt="Loading"/>
                	</div>

                    	<div id="brand">
                    		<a id="rhLogo" href="http://www.redhat.com/" title="Go to redhat.com">
                	    		<img src="https://access.redhat.com/chrome_themes/umbra/g/logo_redhat.png" alt="Red Hat logo">
                    		</a>
                    	</div>

                        <div id="utility">
                        	<div id="utility-links">
        		                <div id="account-links" class="account-links" style="display:block">
                        			<span style="color: #FFFFFF;">
                                  		<div style="padding: 4 2;">
                			                <!-- Login Button -->
                                			<button id="login-button" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only">
                                                <span class='ui-button-text'>Login</span>
                                            </button>
                                			<!-- Logout Button -->
                                 			<button id="logout-button" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only">
                                                <span class='ui-button-text'>Logout</span>
                                            </button>


                                        </div>

                                        <p>
                            		    {% if user.is_authenticated %}
                                            {{ user.username }}
                                            <script type='text/javascript'>
                                                first_logged_in = true;
                                            </script>
                                            {% if user.is_staff and user.is_superuser %}
                                                <script type='text/javascript'>
                                                    is_admin = true;
                                                    turnOnAdminFeatures();
                                                </script>
                                            {% endif %}
		                                {% else %}
                        		            You are not logged in.
                                            <script type='text/javascript'>
                                                first_logged_in = false;
                                            </script>
		                                {% endif %}
                                        </p>
                	            	</span>
                       			</div>
                        	</div>
                        </div>
                        <div id='navWrap' class='clearWrap'>
                            <div id='navPrimary'>
                                <ul>
                                    <!--
                                        Create a much more generic way of attaching and
                                        exercising onclick events.
                                    -->
                                    <li id='create_button' class='active'><a href="#">Create Report</a></li>
                                    <li id='report_button'><a href='#'>View Report</a></li>
                                    <li id='detail_button'><a href='#'>System Detail</a></li>
                                    <li id='import_button'><a href="#">Administer</a></li>
                                    
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div id='main-wrap' class='wrapu'>
                    <div id='main-top'></div>
                    <div class='wrapi'>
                        <div id='container' class='clearWrap'>
                        	<a id="filter_toggle" style="float: right"  href="javascript:toggle_report_form();">Show Filter Options</a>
                        	<div id='default_report_controls'>
                             
                                
                              </button>
                            </div>
                            

                            <div id='report_pane'>

                            </div>
                            <div id='detail_pane'>
                                <div id='details'>
                                    <table style="width: 100%; margin-bottom: 0;">
                                    </table>
                                </div>
                                <div id='instance_details'>
                                </div>
                            </div>
                            
                            <div id='import_pane'>
                                 
                                 <div id='admin_report'> </div>
                           </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Login Form -->
        <div id="login-form" title="Login">
            <form>{% csrf_token %}
                <fieldset>
                    <label for="username">Username</label><br>
                    <input type="text" name="username" id="username" class="text ui-widget-content ui-corner-all" /><br>
                    <label for="password">Password</label><br>
                    <input type="password" name="password" id="password" class="text ui-widget-content ui-corner-all" />
                </fieldset>
            </form>
            <div id="login-error" class="ui-state-error">
                <div class="ui-state-error-text">
                    <p>Invalid Username or Password.</p>
                    <p>Please try again.</p>
                </div>
            </div>
            <div id="relogin" class="ui-helper-hidden">
                <p>Your session has expired, you must relogin.</p>
            </div>
        </div>
    </body>

        <!-- *** BACKBONE TEMPLATES *** -->

        <!-- Filter Template -->
        <script id='template-filter' type='text/template'>
          <ul>
            <% for (var i = 0; i < list.length; i++) { %>
              <% var f = list[i]; %>
              <li>
                 Filter Name: <%= f.attributes.filter_name %> ID: <%= f.attributes.null %>
              </li>
            <% } %>
          </ul>
        </script>

        <!-- Create Filter Form -->
        <script id='create-filter-form' type='text/template'>

            <h2> Create A New Filter:</h2>
              <form id='report_form'>
                <b>Month:</b> <select name="byMonth" id="byMonth" class='chosen' style="width:100px;"/> <br />
                <b>Start Date:</b> <input type="text" id="startDate" name="startDate"><br />
                <b>End Date:</b> <input type="text" id="endDate" name="endDate"><br />
                <b>Status:</b><select id="status" name=status class='chosen' /> <br /> 
                <b>Satellite Server:</b><select id='env' name="env" class='chosen'  style="width:350px;"> <br /> 
                <b>Satellite Organization:</b><select id='org' name="org" class='chosen'  style="width:350px;"> <br /> 
                <b>System Hostname:</b><select id='sys_host' name="sys_host" class='chosen'  style="width:350px;"> <br />   
                <b>System ID:</b><select id='sys_id' name="sys_id" class='chosen'  style="width:150px;"> <br />    
                <b>Filter Name:</b><input type="text" name="filter_name" id="filter_name" /><br />
                <b>Filter Description:</b><input type="text" name="filter_description" id="filter_description" /><br />

                <input type='submit' value='Save Filter' class='button' onclick='filterSave(event)' />
                
              </form>
            
        </script>

</html>