{% comment %}
#
# Copyright © 2012 Red Hat, Inc.
#
# This software is licensed to you under the GNU General Public
# License as published by the Free Software Foundation; either version
# 2 of the License (GPLv2) or (at your option) any later version.
# There is NO WARRANTY for this software, express or implied,
# including the implied warranties of MERCHANTABILITY,
# NON-INFRINGEMENT, or FITNESS FOR A PARTICULAR PURPOSE. You should
# have received a copy of GPLv2 along with this software; if not, see
# http://www.gnu.org/licenses/old-licenses/gpl-2.0.txt.
{% endcomment %}
<html>
    <head>
        <link href="https://access.redhat.com/chrome_themes/umbra/s/global.css?version=1.6.5.2" media="screen, print" type="text/css" rel="stylesheet">
        <link href="https://access.redhat.com/chrome_themes/umbra/s/print.css?version=1.6.5.2" media="print" type="text/css" rel="stylesheet">
        <link href="https://access.redhat.com/webassets/avalon/s/jquery-ui/cp/jquery-ui-1.8.7.custom.css?version=1.6.5.2" media="screen, print" type="text/css" rel="stylesheet">
        <script src="{{ STATIC_URL }}jquery.min.js"></script>
        <script src="{{ STATIC_URL }}jquery-ui.min.js"></script>
        <script src="{{ STATIC_URL }}jquery-csrf.js"></script>
        <script src="http://datatables.net/download/build/jquery.dataTables.min.js"></script>
        <script>
            var first_logged_in = false;
            var logged_in = false;
			var csrftoken = '';

            $(document).ready(function() {
				csrftoken = getCookie('csrftoken');
                setupLoginForm();
                setupLLButtons();
                setupCreateForm();
                openCreate();
                $('#login-button').click(login);
                $('#logout-button').click(logout);

                // initially hide instance detail section
                $('#instance_details').hide();
            });

            function login() {
                $('#login-form').dialog('open');
            }

            function logout() {
                $.ajax({
                    url: '/ui/admin/logout/',
                    type: 'POST',
                    contentType: 'application/json',
                    data: {},
					crossDomain: false,
					beforeSend: function(xhr, settings) {
						if (!csrfSafeMethod(settings.type)) {
							xhr.setRequestHeader("X-CSRFToken", csrftoken);
						}
					}
				}).done(function(data) {
                    enableButton($('#login-button'));
                    disableButton($('#logout-button'));
                    // alter msg
                    $('#account-links > span > p').text('You are not logged in.');

                    logged_in = false;

                    loadContent();
                }).fail(function(jqXHR) {
                    // TODO: Add error handling here
                });
            }

            function setupLLButtons() {
                if (first_logged_in) {
                    disableButton($('#login-button'));
                    logged_in = true;
                } else {
                    disableButton($('#logout-button'));
                    logged_in = false;
                }
                loadContent();
                $('#login-error').hide();
            }

            function setupCreateForm() {
				$('#report_form').each(function() {
					this.reset();
				});

                $('#startDate').attr('disabled', true);
                $('#endDate').attr('disabled', true);
                $('#rhic').attr('disabled', true);
                $('#contract').attr('disabled', true);
				$("#startDate").attr('disabled', true);
				$("#endDate").attr('disabled', true);

                $('input.create_radio').each(
                    function() {
                        $(this).click(radioClicked);
                    }
                );

                $('#startDate').datepicker();
                $('#endDate').datepicker();

                setupCreateFormButtons();

                $.ajax({
                    url: '/ui/admin/report_form/',
                    type: 'GET',
                    contentType: 'application/json',
                    data: {},
                    crossDomain: false,
                    beforeSend: function(xhr, settings) {
                            if (!csrfSafeMethod(settings.type)) {
                                xhr.setRequestHeader("X-CSRFToken", csrftoken);
                            }
                        }
                    }).done(function(data) {
                        fill_create_report_form(JSON.parse(data)); 
                    }).fail(function(jqXHR) {
                        // TODO: Add error handling here
                });
            }

            function setupCreateFormButtons() {
                var btn = $('#clear');
                var o = $('#original');
                var c = $('#choices');
                // Initially hide the choices
                c.hide();
            }

			function createReport(event) {
				// Have to stop url from changing so disable default event
				event.preventDefault();

                if (logged_in && validateForm()) {
					// Build up var
               	    var data = {}; 
					
					// Date section
					if (!$('#byMonth').attr('disabled')) {
						data['byMonth'] = $('#byMonth').val();
					} else {
						data['startDate'] = $('#startDate').val();
						data['endDate'] = $('#endDate').val();
					}	

					// Customer data section
					if (!$('#contract').attr('disabled')) {
						data['contract_number'] = $('#contract').val();
					} else if (!$('#rhic').attr('disabled')){
						data['rhic'] = $('#rhic').val();
					} else {
						// pass in nothing
					}

					// Environment section
					if (!$('#env').attr('disabled')) {
						data['env'] = $('#env').val();
					}

                    $.ajax({
                        url: '/ui/admin/report/',
                        type: 'POST',
                        contentType: 'application/json',
                        data: data,
						crossDomain: false,
						beforeSend: function(xhr, settings) {
							if (!csrfSafeMethod(settings.type)) {
								xhr.setRequestHeader("X-CSRFToken", csrftoken);
							}
						}
					}).done(function(data) {
                        var rtn = jQuery.parseJSON(data);
                        populateReport(rtn);
                        openReport();
                    }).fail(function(jqXHR, textStatus, errorThrown) {
                        // TODO: Add error handling here
                    });
                }
            }

            function resetReportForm(event) {
                $('#report_pane > div').empty();
                $('#report_pane > div').append($('<h3>This date range contains no usage data.</h3>'));
                $('#report_pane > div').append($('<br></br>'));
                $('#report_pane > div').append($('<br></br>'));
                $('#details').empty();
                $('#details').append($('<b><span>Please generate a report first and then click the NAU link.</span></b>'));
                $('#instance_details').empty();
            }

            // There has to be a better way to make the
            // next four function generic.

            function openCreate() {
				removeActiveNav();
				$('#create_button').addClass('active');
    
                if (logged_in) {
                    $('#create_pane').show();
                    $('#report_pane').hide();
                    $('#detail_pane').hide();
                    $('#import_pane').hide();
                }
            }

            function openReport() {
				removeActiveNav();
				$('#report_button').addClass('active');
    
                if (logged_in) {
                    $('#create_pane').hide();
                    $('#report_pane').show();
                    $('#detail_pane').hide();
                    $('#import_pane').hide();
                }
            }

            function openDetail() {
				removeActiveNav();
				$('#detail_button').addClass('active');

                if (logged_in) {
                    $('#create_pane').hide();
                    $('#report_pane').hide();
                    $('#detail_pane').show();
                    $('#import_pane').hide();
                }
            }

            function openImport() {
				removeActiveNav();
				$('#import_button').addClass('active');
    
                if (logged_in) {
                    $('#create_pane').hide();
                    $('#report_pane').hide();
                    $('#detail_pane').hide();
                    $('#import_pane').show();
                }
            }

            function createDetail(start, end, filter_args) {
                var data = {
                    "start": start,
                    "end": end,
                    "filter_args_dict": unescape(filter_args)
                };

                $.ajax({
                    url: '/ui/admin/details/',
                    type: 'POST',
                    contentType: 'application/json',
                    data: data,
                    crossDomain: false,
                    beforeSend: function(xhr, settings) {
                        if (!csrfSafeMethod(settings.type)) {
                            xhr.setRequestHeader("X-CSRFToken", csrftoken);
                        }
                    }
                }).done(function(data) {
                    var rtn = jQuery.parseJSON(data);
                    populateDetailReport(rtn);
                    openDetail();
                }).fail(function(jqXHR) {
                    // TODO: Add error handling here
                });
            }

            function createInstanceDetail(start, end, instance, filter_args) {
                var data = {
                    "start": start,
                    "end": end,
					"instance": instance,
                    "filter_args_dict": unescape(filter_args)
                };

                $.ajax({
                    url: '/ui/admin/instance_details/',
                    type: 'POST',
                    contentType: 'application/json',
                    data: data,
                    crossDomain: false,
                    beforeSend: function(xhr, settings) {
                        if (!csrfSafeMethod(settings.type)) {
                            xhr.setRequestHeader("X-CSRFToken", csrftoken);
                        }
                    }
                }).done(function(data) {
                    var rtn = jQuery.parseJSON(data);
                    populateInstanceDetailReport(rtn);
                    openDetail(); // this shouldn't be needed, but no harm in calling it again
                }).fail(function(jqXHR) {
                    // TODO: Add error handling here
                });
            }

            function importData() {
                if (logged_in) {
                    $('#import_pane > div').empty();
                    $('#import_pane > button').empty();
                    var status = $('<span class=\'ui-button-text\'>Working on it...</span>');
                    $('#import_pane > button').append(status);

                    $.ajax({
                        url: '/ui/admin/import/',
                        type: 'POST',
                        contentType: 'application/json',
                        data: {},
						crossDomain: false,
						beforeSend: function(xhr, settings) {
							if (!csrfSafeMethod(settings.type)) {
								xhr.setRequestHeader("X-CSRFToken", csrftoken);
							}
						}
					}).done(function(data) {
                        var rtn = jQuery.parseJSON(data);
                        for (var i = 0; i < rtn.time.length; i++) {
                            var dt = rtn.time[i];

                            $('#import_pane > div').empty();
                            var status = $('<span>Import Complete!\nStart Time: ' + dt.start + '\nEnd Time: ' + dt.end + '<span>');
                            $('#import_pane > div').append(status);

                            $('#import_pane > button').empty();
                            var status = $('<span class=\'ui-button-text\'>Import Data</span>');
                            $('#import_pane > button').append(status);
                        }
                    }).fail(function(jqXHR) {
                        // TODO: Add error handling here
                    });
                }
            }

            // Support functions, shouldn't be called outside of this HTML.

			function getCookie(name) {
				var cookieValue = null;
				if (document.cookie && document.cookie != '') {
					var cookies = document.cookie.split(';');
					for (var i = 0; i < cookies.length; i++) {
						var cookie = jQuery.trim(cookies[i]);
						// Does this cookie string begin with the name we want?
						if (cookie.substring(0, name.length + 1) == (name + '=')) {
							cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
							break;
						}
					}
				}
				return cookieValue;
			}

            function setupLoginForm() {
                // Login form
                $('#login-form').dialog({
                    autoOpen: false,
                    height: 300,
                    width: 350,
                    modal: true,
                    buttons: {
                        "Login": function() {
                            var data = {
                                "username": $('#username').val(),
                                "password": $('#password').val()
                            };

                            // Login button in form clicked 
                            $.ajax({
                                url: '/ui/admin/login/',
                                type: 'POST',
                                contentType: 'application/json',
                                data: data,
								crossDomain: false,
								beforeSend: function(xhr, settings) {
									if (!csrfSafeMethod(settings.type)) {
										xhr.setRequestHeader("X-CSRFToken", csrftoken);
									}
								}
                            }).done(function(data) {
                                $('#login-error').hide();
                                $('#login-form').dialog('close');
                                // Gray out "Login" button
                                enableButton($('#logout-button'));
                                disableButton($('#login-button'));
                                // alter msg
                                $('#account-links > span > p').text( data );

                                logged_in = true;

                                loadContent();

                            }).fail(function(jqXHR) {
                                $('#login-error').show();
                            });
                        },
                        "Cancel": function() {
                            $('#login-error').hide();
                            $('#login-form').dialog('close');
                        }
                    }
                });
            }

            function fill_create_report_form(data) {
                // Clear outdated elements
                $('#contract').empty();
				$('#rhic').empty();

				// Add defaults
				$('#contract').append($('<option value=All>All</option>'));

                // Add remainder elements from data
				jQuery.each(data.contracts, function(index, ele) {
					$('#contract').append($('<option value=' + ele + '>' + ele + '</option>'));
				});	
				jQuery.each(data.list_of_rhics, function(index, ele) {
					$('#rhic').append($('<option value=' + ele[0] + '>' + ele[1] + '</option>'));
				});	
				jQuery.each(data.environments, function(index, ele) {
					$('#env').append($('<option value=' + ele + '>' + ele + '</option>'));
				});	
            }

            function disableButton(btn) {
                btn.attr('disabled', true);
                btn.css('opacity', '0.35');
            }

            function enableButton(btn) {
                btn.removeAttr('disabled');
                btn.css('opacity', '');
            }

            function loadContent() {
                if (!logged_in) {
                    $('#create_pane').hide();
                    $('#report_pane').hide();
                    $('#detail_pane').hide();
                    $('#import_pane').hide();

                    $('#navWrap').hide();
                } else {
                    $('#navWrap').show();
                    openCreate();
                }
            }

            function removeActiveNav() {
                $('#navPrimary > ul > li').each(
                    function(index) {
                        $(this).removeClass('active');
                    }
                );
            }

            function radioClicked() {
                // find out which radio button was clicked and
                // disable/enable appropriate input elements
                switch(this.value) {
                    case "month" :
                        $("#byMonth").removeAttr('disabled');
                        $("#startDate").attr('disabled', true);
                        $("#endDate").attr('disabled', true);

                        // disable radio button for range
                        $("input[value='range']").prop('checked', false);
                        break;
                    case "range" :
                        $("#byMonth").attr('disabled', true);
                        $("#startDate").removeAttr('disabled');
                        $("#endDate").removeAttr('disabled');

                        // disable radio button for month
                        $("input[value='month']").prop('checked', false);
                        break;
                    case "contract_radio" :
                        $("#contract").removeAttr('disabled');
                        $("#rhic").attr('disabled', true);

                        // disable radio button for rhic
                        $("input[value='rhic_radio']").prop('checked', false);
                        break;
                    case "rhic_radio" :
                        $("#contract").attr('disabled', true);
                        $("#rhic").removeAttr('disabled');

                        // disable radio button for contract
                        $("input[value='contract_radio']").prop('checked', false);
                        break;
                }
            }

            function populateReport(rtn) {
                var pane = $('#report_pane > div');

                // cleanup first
                pane.empty();

                if (rtn.list.length > 0) {
                    for (var rhic_index in rtn.list) {
                        var rhic = rtn.list[rhic_index];

                        var table = $('<table id=\'report_data\' class=\'display\' style=\'display: table\' width=\'100%\'></table>');

                        var header = ($('<tr></tr>'));
                        header.append($('<th>Product:</th>'));
                        header.append($('<th>SLA:</th>'));
                        header.append($('<th>Support:</th>'));
                        header.append($('<th>Facts:</th>'));
                        header.append($('<th>Contracted Use:</th>'));
                        header.append($('<th>NAU:</th>'));

                        table.append(header);

                        var tbody = $('<tbody></tbody>');

                        // The following logic has to reduce to one for loop
                        for (var product_index in rhic) {
                            var product = rhic[product_index]; 

                            // insert something if it's the first item
                            if (product_index == 0) {
                                pane.append($('<b>RHIC: ' + product.rhic + ', Contract: ' + product.contract_id + '</b>'));
                            }

                            var row = $('<tr></tr>');
                            row.append($('<td>' + product.product_name + '</td>'));
                            row.append($('<td>' + product.sla + '</td>'));
                            row.append($('<td>' + product.support + '</td>'));
                            row.append($('<td>' + product.facts + '</td>'));
                            row.append($('<td>' + product.contract_use + '</td>'));
                            row.append($('<td><a href=\'#\' onclick="createDetail(\'' + product.start + '\',\'' + product.end + '\', \'' + escape(new String(product.filter_args_dict)) + '\')">' + product.checkins + '</a></td>'));

                            tbody.append(row);
                        }

                        table.append(tbody);

                        pane.append(table);
                        pane.append($('<br></br>'));
                    }
                } else {
                    pane.append($('<h3>This date range contains no usage data.</h3>'));
                    pane.append($('<br></br>'));
                    pane.append($('<br></br>'));
                }
            }

            function populateDetailReport(rtn) {
                var pane = $('#details');
                // cleanup first
                pane.empty();

                var title = $('<b>Number of unique MAC addresses: ' + rtn.list.length + '</b>');

                pane.append(title);
                pane.append($('<br></br>'));

                var table = $('<table id=\'report_data\' class=\'display\' style=\'display: table\' width=\'100%\'></table>');

                var header = ($('<tr></tr>'));
                header.append($('<th width=2%>Count</th>'));
                header.append($('<th width=5%>MAC</th>'));
                header.append($('<th width=20%>Number of Checkins</th>'));

                table.append(header);

                var tbody = $('<tbody></tbody>');

                for (var instance_index=0; instance_index < rtn.list.length; instance_index++) {
                    var instance = rtn.list[instance_index];

                    var i = instance_index + 1;

                    var row = $('<tr></tr>');
                    row.append($('<td>' + i + '</td>'));
                    row.append($('<td>' + instance.instance + '</td>'));
                    row.append($('<td><a href=\'#\' onclick="createInstanceDetail(\'' + rtn.start + '\',\'' + rtn.end + '\', \'' + instance.instance + '\', \'' + escape(new String(rtn.this_filter)) + '\')">' + instance.count + '</a></td>'));

                    tbody.append(row);
                }

                table.append(tbody);

                pane.append(table);
                pane.append($('<br></br>'));
            }

            function populateInstanceDetailReport(rtn) {
                var pane = $('#instance_details');

                // cleanup first
                pane.empty();

                var title = $('<b>Number of checkins: ' + rtn.list.length + '</b>');

                pane.append(title);
                pane.append($('<br></br>'));

                var table = $('<table id=\'instance_data\' class=\'display\' style=\'display: table\' width=\'100%\'></table>');

                var header = ($('<tr></tr>'));
                header.append($('<th width=2%>Count</th>'));
                header.append($('<th width=5%>MAC</th>'));
                header.append($('<th width=5%>Product</th>'));
                header.append($('<th width=5%>Time</th>'));
                header.append($('<th width=5%>Products</th>'));
                header.append($('<th width=5%>Memory</th>'));
                header.append($('<th width=5%>CPU Sockets</th>'));
                header.append($('<th width=5%>Environment</th>'));

                table.append(header);

                var tbody = $('<tbody></tbody>');

                for (var instance_index=0; instance_index <  rtn.list.length; instance_index++) {
                    var instance = rtn.list[instance_index];

                    var i = instance_index + 1;

                    var row = $('<tr></tr>');
                    row.append($('<td>' + i + '</td>'));
                    row.append($('<td>' + instance.instance_identifier + '</td>'));
                    row.append($('<td>' + instance.product_name + '</td>'));
                    row.append($('<td>' + instance.hour + '</td>'));
                    row.append($('<td>' + instance.product + '</td>'));
                    row.append($('<td>' + instance.memtotal + '</td>'));
                    row.append($('<td>' + instance.cpu_sockets + '</td>'));
                    row.append($('<td>' + instance.environment + '</td>'));

                    tbody.append(row);
                }

                table.append(tbody);

                pane.append(table);
                pane.append($('<br></br>'));

                // if currently hidden, turn it on
                if (!pane.is(':visible')) {
                    pane.show('blind', {percent: 100}, 5000, function() {
                        // Animation done.
                    });
                }
            }

			function validateForm() {
                var rtn = true;

                $('#form_error').empty();

                if ($('#byMonth').val() > 0 || ($('#startDate').val() && $('#endDate').val())) {
                    // pass
                } else {
                    $('#form_error').append($('<b>Please enter a valid date range or select a month.</b>'));
                    $('#form_error').append($('<br></br>'));
                    rtn = false;
                }

                if ($('#contract').attr('disabled') && $('#rhic').attr('disabled')) {
                    $('#form_error').append($('<b>Please select a Contract or RHIC.</b>'));
                    $('#form_error').append($('<br></br>'));
                    rtn = false;
                } else {
                    // pass
                }
                return rtn;
			}

			function csrfSafeMethod(method) {
				// these HTTP methods do not require CSRF protection
				return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
			}
        </script>
        <style>
            #outer-wrapper {
                background: #E6E6E6;
            }
            #navPrimary {
                clear: both;
            }

            input {
                vertical-align: bottom;
            }
            #form_error {
                color: red;
            }
        </style>
    </head>
    <body>
	    <div id="outer-wrapper" class="wrapo">
	        <div id="wrapper" class="wrapo">
            	<div id="header-wrap" class="wrapi">
                	<div id="header">

                    	<div id="brand">
                    		<a id="rhLogo" href="http://www.redhat.com/" title="Go to redhat.com">
                	    		<img src="https://access.redhat.com/chrome_themes/umbra/g/logo_redhat.png" alt="Red Hat logo">
                    		</a>
                    	</div>

                        <div id="utility">
                        	<div id="utility-links">
        		                <div id="account-links" class="account-links" style="display:block">
                        			<span style="color: #FFFFFF;">
                                  		<div style="padding: 4 2;">
                			                <!-- Login Button -->
                                			<button id="login-button" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only"><span class='ui-button-text'>Login</span></button>
                                			<!-- Logout Button -->
                                 			<button id="logout-button" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only"><span class='ui-button-text'>Logout</span></button>
                                        </div>

                                        <p>
                            		    {% if user.is_authenticated %}
		                                   
                                            <script type='text/javascript'>
                                                first_logged_in = true;
                                            </script>
		                                {% else %}
                        		            You are not logged in.
                                            <script type='text/javascript'>
                                                first_logged_in = false;
                                            </script>
		                                {% endif %}
                                        </p>
                	            	</span>
                       			</div>
                        	</div>
                        </div>
                        <div id='navWrap' class='clearWrap'>
                            <div id='navPrimary'>
                                <ul>
                                    <!--
                                        Create a much more generic way of attaching and
                                        exercising onclick events.
                                    -->
                                    <li id='create_button' onclick='openCreate()' class='active'><a href="#">Create Report</a></li>
                                    <li id='report_button' onclick='openReport()'><a href='#'>View Report</a></li>
                                    <li id='detail_button' onclick='openDetail()'><a href='#'>View Detail</a></li>
                                    <li id='import_button' onclick='openImport()'><a href="#">Import Data</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div id='main-wrap' class='wrapu'>
                    <div id='main-top'></div>
                    <div class='wrapi'>
                        <div id='container' class='clearWrap'>
                            <div id='create_pane'>
                                <fieldset>
                                    <form id="report_form">
                                        <p><b>Filter by Date:</b></p>
                                        <table>
                                            <tr>
                                                <td width="10%">
                                                    <div style='display: inline-block'>
                                                        <input type="radio" class="create_radio" value="month"/>
                                                        <b style='padding-top: 1em'> Month:</b>
                                                        <select name=byMonth id="byMonth" class='create_select' disabled="true">
                                                            <option value="-1">Select Month</option>
                                                            <option value="1">January</option>
                                                            <option value="2">February</option>
                                                            <option value="3">March</option>
                                                            <option value="4">April</option>
                                                            <option value="5">May</option>
                                                            <option value="6">June</option>
                                                            <option value="7">July</option>
                                                            <option value="8">August</option>
                                                            <option value="9">September</option>
                                                            <option value="10">October</option>
                                                            <option value="11">November</option>
                                                            <option value="12">December</option>
                                                        </select> 
                                                    </div>
                                                </td>
                                            </tr>
        
                                            <tr>
                                                <td width="50%"> 
                                                    <div style='display: inline-block'>
                                                        <input type="radio" class="create_radio" value="range"/> 
                                                        <b>Custom Range:</b> 
                                                            Start Date: <input type="text" id="startDate" name="startDate">
                                                            End Date: <input type="text" id="endDate" name="endDate"> </p>
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
        
                                        <p><b>Filter by Customer Data:</b></p> 
                                        <table>
                                            <tr>
                                                <td width="5%"> 
                                                    <input type="radio" class="create_radio" value="contract_radio" />
                                                    <b> Contract: </b> </td> 
                                                    <td width="40%">
                                                        <select id="contract" name=contract_number class='create_select' disabled="true"> 
                                                            <option value=All>All</option>
                                                        </select> 
                                                    </td>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td width="5%"> 
                                                    <input type="radio" class="create_radio" value="rhic_radio" />
                                                    <b> RHIC: </b></td>
                                                    <td width="40%">
                                                        <select id="rhic" name="rhic" class='create_select' disabled="true">
                                                        </select>
                                                    </td>
                                                </td>
                                            </tr>
                                        </table>
                                        <p><b>Filter by Environment:</b></p> 
                                        <table>
                                            <tr> 
                                                <td width="1%"><b>Environment: </b></td>
                                                    <td width="51%">
                                                        <select id='env' name="env" class='create_select'>
                                                            <option value=All>All</option>
                                                        </select>
                                                    </td>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td width="5%">
                                                    <button id='submit' name='submit' class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" onclick='createReport(event)'>
                                                        <span class='ui-button-text'>Run Report</span>
                                                    </button>
                                                </td>
                                                <td width="5%">
                                                    <button id='clear' class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" onclick='resetReportForm()'>
                                                        <div id='original'>
                                                            <span class='ui-button-text original' style='float:left'>Reset Form</span>
                                                        </div>
                                                        <div id='choices'>
                                                            <span class='ui-button-text' style='float:left'>Yes</span>
                                                            <span class='ui-button-text' style='float:left'>No</span>
                                                        </div>
                                                    </button>
                                                </td>
                                            </tr>
                                        </table>
                                        <div id='form_error'>
                                        </div>
                                    </form>
                                </fieldset>
                            </div>
                            <div id='report_pane'>
                                <div>
                                    <h3>This date range contains no usage data.</h3>
                                    <br></br>
                                    <br></br>
                                </div>
                                    <button id='createAnotherReport_button' class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" onclick='openCreate()'>
                                        <span class='ui-button-text'>Run another report</span>
                                    </button>
                                <table width="100%">
                                    <tbody>
                                        <tr>
                                            <td><h3>Glossary:</h3></td>
                                        </tr>
                                        <tr>
                                            <td width="15%">Contracted Use:</h3></td>
                                            <td>This is the number of concurrent entitlements purchased in the contract</td>
                                        </tr>
                                        <tr>
                                            <td width="15%">NAU:</td>
                                            <td>Net Aggregate Usage, is the number of concurrent entitlements actually being consumed</td>
                                        </tr>
                                        <tr>
                                            <td width="15%">Consumed :</td>
                                            <td>Defined as an entitlement being installed and running on an instance or physical machine. If an instance is not running ( ie.. shutdown or terminated), then it is not counted as consumed</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div id='detail_pane'>
                                <div id='details'>
                                    <b><span>Please generate a report first and then click the NAU link.</span></b>
                                </div>
                                <br></br>
                                <div id='instance_details'>
                                </div>
                            </div>
                            <div id='import_pane'>
                                <div>
                                </div>
                                <br></br>
                                <button id='createAnotherReport_button' class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" onclick='importData()'>
                                    <span class='ui-button-text'>Import Data</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Login Form -->
        <div id="login-form" title="Login">
            <form>{% csrf_token %}
                <fieldset>
                    <label for="username">Username</label><br>
                    <input type="text" name="username" id="username" class="text ui-widget-content ui-corner-all" /><br>
                    <label for="password">Password</label><br>
                    <input type="password" name="password" id="password" class="text ui-widget-content ui-corner-all" />
                </fieldset>
            </form>
            <div id="login-error" class="ui-state-error">
                <div class="ui-state-error-text">
                    <p>Invalid Username or Password.</p>
                    <p>Please try again.</p>
                </div>
            </div>
            <div id="relogin" class="ui-helper-hidden">
                <p>Your session has expired, you must relogin.</p>
            </div>
        </div>
    </body>
</html>
